.default {

}

header {
  background-color: rgb(0, 50, 137);
  color: #ffffff;
  padding: 30px;
  font-size: 20px;
}

#upload-box {
  margin: 30px auto;
  width: 50%;
  background-color: rgb(114, 166, 255);
  padding: 30px;
}

#grid {
  display: flex;
  text-align: center;
  background-color: rgb(61, 132, 255);
  border-radius: 5px;
  padding: 10px;
}

input {
  margin: auto;
}

#submit {
  background-color: rgb(0, 50, 137);
  color: #ffffff;
  padding: 10px;

}

#tags-grid{
  margin: 30px auto;
  width: 50%;
  background-color: rgb(114, 166, 255);
  padding: 30px;
}